.alert {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.success {
  background-color: green;
}

.warning {
  background-color: orange;
}

.error {
  background-color: red;
}